.login {
  margin-left: 15px;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border: 1px solid #0066ff;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #33cc33 0%,
    #0066ff 51%,
    #33cc33 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.login:hover {
  background-position: right center;
  border-color: white;
}
