.filter {
  width: 600px;
  padding: 20px;
  background-color: aquamarine;

  margin-left: auto;
  margin-right: auto;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  text-align: center;
}
