.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  padding: 20px;

  color: white;

  font-size: 45px;
  text-shadow: 1px 1px 5px black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.55), 0 10px 10px rgba(0, 0, 0, 0.52);
}
.body__home {
  margin-top: 20px;
  background-image: url(images/1111.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 750px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.55), 0 10px 10px rgba(0, 0, 0, 0.52);
}
