.header {
  display: flex;
  justify-content: center;
}
.headerNav:not(:last-child) {
  margin-right: 20px;
}
.headerNav {
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: gray;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.active {
  background-color: red;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
}
