.list {
  width: 600px;
  background-color: aquamarine;
  padding: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.phoneBookListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aquamarine;
}
.nameText,
.phoneNumber {
  font-weight: 400;
  font-size: 20px;
}

.buttonDelete {
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: gray;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.buttonDelete:hover,
.buttonDelete:focus {
  background-color: red;
}
